<h1>Upload the file!</h1>


<form action="/invoke" method="POST" enctype="multipart/form-data">
<label for="file">Upload a File!!</label>
<input type="file" id="file" name="trialFile">
<button>Submit</button>
</form>